/* Reset básico para remover margens padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis de tema - facilite sua vida no futuro */
:root {
    --primary-color: #2563eb;
    --dark-bg: #0f172a;
    --text-light: #f8fafc;
    --font-main: 'Arial', sans-serif;
}

body {
    font-family: var(--font-main);
    background-color: var(--dark-bg);
    color: var(--text-light);
    line-height: 1.6;
}

nav ul {
    display: flex; /* Transforma a lista em um lista */
    list-style: none; /* Remove as "bolinhas" da lista */
    gap: 20px; /* Cria um espaço entre os itens */
    justify-content: center; /* Centraliza o menu na tela */
    padding: 20px;
}

nav a {
    color: var(--text-light);
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold;
}

section {
    padding: 80px 20px; /* 80px em cima/baixo, 20px nas laterais */
    max-width: 1000px; /* Impede que o texto fique largo demais em telas gigantes */
    margin: 0 auto; /* Centraliza a seção inteira na tela */
    text-align: center; /* Centraliza o texto */ 
}

h1 {
    font-size: 3rem; /* Texto bem grande para  seu nome */
    margin-bottom: 10px;
    color: var(--primary-color);
}

section p {
    font-size: 1.2rem;
    color: #94a3b8; /*Um cinza suave para a descrição */
}
