/* Reset básico para remover margens padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis de tema - facilite sua vida no futuro */
:root {
  --primary-color: #2563eb;
  --dark-bg: #0f172a;
  --text-light: #f8fafc;
  --font-main: "Arial", sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: var(--dark-bg);
  color: var(--text-light);
  line-height: 1.6;
}

nav ul {
  display: flex; /* Transforma a lista em um lista */
  list-style: none; /* Remove as "bolinhas" da lista */
  gap: 20px; /* Cria um espaço entre os itens */
  justify-content: center; /* Centraliza o menu na tela */
  padding: 20px;
}

nav a {
  color: var(--text-light);
  text-decoration: none; /* Remove o sublinhado dos links */
  font-weight: bold;
}

section {
  padding: 80px 20px; /* 80px em cima/baixo, 20px nas laterais */
  max-width: 1000px; /* Impede que o texto fique largo demais em telas gigantes */
  margin: 0 auto; /* Centraliza a seção inteira na tela */
  text-align: center; /* Centraliza o texto */
}

h1 {
  font-size: 3rem; /* Texto bem grande para  seu nome */
  margin-bottom: 10px;
  color: var(--primary-color);
}

section p {
  font-size: 1.2rem;
  color: #94a3b8; /*Um cinza suave para a descrição */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.project-card {
  background-color: #1e293b; /* Um tom levemente mais claro que o fundo */
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  border: 1px solid #334155;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px); /*Efeito de flutuar ao passar o mouse */
  border-color: var(--primary-color);
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--primary-color);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  background: #1e293b;
  border: 1px solid #334155;
  color: white;
  border-radius: 4px;
}

.btn-submit {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.btn-submit:hover {
  filter: brightness(1.2); /*Aumenta o brilho da cor original */
}

.techs {
    display: flex;
    gap: 8px;
    margin: 15px 0;
}

.techs span {
    background-color: rgba(37, 99, 235, 0.1); /*Azul da marca com 10% de opacidade */
    color: var(--primary-color);
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid var(--primary-color);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px 0;
}

.social-links i {
    color: var(--text-light);
    transition: color 0.3s;
}

.social-links i:hover {
    color: var(--primary-color);
}
